/*@import url("webfonts/balsamiqsans.css");*/
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  /*font: 'Balsamiq Sans', sans-serif;*/
  font-family: 'Patrick Hand', cursive;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  text-align: center;
}
.App {
  height: 100vh;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea:focus, input:focus, button:focus{
  outline: none;
}
/*LOGIN PAGE STYLES */

.logincontainer h1 {
  padding-bottom: 40px;
  font-size: 3.5em
}
.buttonn {
  display: flex;
  align-self: center;
  text-align: center;
  width: 120px;
  height: 35px;
  padding-left: 2.5em;
  /* padding-left: 35px; */
  border: 2px solid black;
  font-family: 'Patrick Hand', cursive;
  font-size: 15px;
}
.loginpage {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  height: 300px;
  background-image: url('./paper.png');
}
.loginpage form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.loginpage input {
  margin-bottom: 15px;
  height: 30px;
  font-size: 20px;
  font-family: 'Patrick Hand', cursive;
  padding-left: 10px;
  box-shadow: none;
  border: 2px solid black;
}
.loginorsignup {
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
}
.loginorsignup p {
  margin-right: 3px;
}
.loginorsignup h1 {
  text-decoration: underline;
  text-decoration-skip: none;
  margin-right: 3px;
}
#loginbutton {
  display: flex;
  align-self: center;
  text-align: center;
  width: 120px;
  height: 35px;
  padding-left: 2.5em;
  /* padding-left: 35px; */
  border: 2px solid black;
  font-family: 'Patrick Hand', cursive;
  font-size: 15px;
}
.signupform {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid black;
  width: 700px;
  height: 330px;
  background-image: url('./paper.png');
}
.signupform form {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.signupform input {
    margin-bottom: 10px;
    height: 30px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    padding-left: 10px;
    margin-left: 20px;;
    box-shadow: none;
    border: 2px solid black;
    width: 300px;
}
.signupform h1 {
  text-decoration: underline;
  text-decoration-skip: none;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 5px;
}
.rightsidesignup {
  margin-right: 80px;
  margin-top: 38.5px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*HOMESCREEN STYLES*/

.creategamediv {
  width: 90vw;
  height: 30vh;
  border: 2px solid black;
}
.topdivandlogout {
  display: flex;
  flex-direction: row;
}
.plusicon {
  height: 250px;
  width: 250px;
  display: flex;
  align-self: flex-end;
}
.exiticon {
  height: 50px;
  width: 50px;
}
.canaryheader {
  font-size: 3.5rem;
  padding-bottom: 15px;
  display: flex;
  text-align: center;
  align-self: center;
  justify-content: center;
}
.profilediv {
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  
  height: 25vh;
  width: 50vw;
}
.profilediv p {
  border: 2px solid black;
  font-size: 40px;
  width: 27vw;
  padding-left: 10px;
}
.profiledivtext {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 20px;
}
.profiledivtextheader {
  font-size: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.bottomdiv {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.addquestiondiv {
  margin-left: 30px;
  border: 2px solid black;
  height: 25vh;
  width: 38vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.addquestiondiv h1 {
  font-size: 40px;
  text-decoration: none;
  color: black;
}
.icondivbottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 20px;
}
.icondivbottom img {
  width: 40px;
  height: 40px;
}
/*EDIT POPUP STYLES*/

.editcontainer {
  width: 50vw;
  border: 2px solid black;
  height: 40vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  align-self: center;
  justify-self: center;
  background-color: white; 
  margin-left: 22.5vw; 
  margin-top: 8.5vh;
}
.editcontainer h1 {
  text-decoration: underline;
  text-decoration-skip: none;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.editcontainer form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 10px;
}
.editcontainer input {
  margin-bottom: 15px;
    height: 30px;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    padding-left: 10px;
    margin-left: 20px;;
    box-shadow: none;
    border: 2px solid black;
    width: 150px;
    margin-right: 10px;
}
.editformwithlabel {
  display: flex;
  flex-direction: column;
}
.inputcolumn {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.labelwithpreview {
  display: flex;
  flex-direction: column;
  margin-top: 4.8vw;
  margin-left: 5vw;
}
.inputrows {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.previewandicon {
  display: flex;
  flex-direction: row;
}
.previewandicon a {
  margin-left: 2vw;
  margin-top: 4vh;
}
.previewandicon img {
  width: 2.5vw;
  height: 2.5vw;
}